.App {
  margin-left: 20px;
}

.App-main {
  margin-left: 10px;
}

.highlight {
  font-weight: bold;
}

#publishButton {
  margin-left: 10px;
}

.deleteEditButton {
  margin-top: 10px;
}

.deleteEditCommentButton {
  margin-bottom: 0px;
}

#newButton {
  margin-top: 15px;
  margin-left: -10px;
}

form {
  background-color: grey;
  padding: 5px;
  margin-top: 5px;
  width: 400px;
  border-radius: 5px;
}

#editForm {
  margin-left: 10px;
}

.formContainer {
  margin-top: 10px;
}

#title,
#content,
#username,
#password {
  margin-left: 10px;
}

#content {
  width: 300px;
}

#published_true {
  margin-right: 10px;
}

.indentation {
  margin-left: 30px;
  margin-bottom: 20px;
}
